body {
  background-color: #f0f8ff; /* Fondo celeste claro */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.contenedor {
  background-color: #ffffff; /* Fondo blanco para el contenido */
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #ccc;
}

h1 {
  color: #007acc; /* Azul fuerte */
}

h2 {
  color: #28a745; /* Verde bonito */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #d0eaff; /* Fondo azul claro para cada habilidad */
  margin: 8px 0;
  padding: 8px;
  color: #000;
}
